<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Bounding Boxes on Video</title>
    <style>
        #canvas {
            max-width: 100%;
            border: 1px solid #000;
        }

        #button-container {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h1>Draw Bounding Boxes on Video</h1>
    <p id="statusText">Select bounding box for: <strong>Pickup</strong></p>
    <canvas id="canvas" width="640" height="480"></canvas>
    <video id="videoElement" style="display: none;" width="640" height="480" preload="metadata">
        <source src="" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div id="button-container">
        <button id="save">Save Coordinates</button>
        <button id="pickup">Pickup</button>
        <button id="drop">Drop</button>
    </div>

    <script>
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const saveButton = document.getElementById('save');
        const pickupButton = document.getElementById('pickup');
        const dropButton = document.getElementById('drop');
        const statusText = document.getElementById('statusText');
        const video = document.getElementById('videoElement');
    
        let isDrawing = false;
        let startX = 0;
        let startY = 0;
        let endX = 0;
        let endY = 0;
        let currentBox = "pickup";
        let pickupCoords = {};
        let dropCoords = {};
        
        video.src = '/static/testVideo2.mp4';

        video.addEventListener('loadedmetadata', function() {
            video.currentTime = 0.1; // set to capture the first frame
        });

        video.addEventListener('timeupdate', function() {
            if (video.currentTime < 0.2) {
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                video.pause(); // pause the video after drawing the frame
            }
        });

        pickupButton.addEventListener('click', function() {
            currentBox = "pickup";
            statusText.innerHTML = "Select bounding box for: <strong>Pickup</strong>";
        });

        dropButton.addEventListener('click', function() {
            currentBox = "drop";
            statusText.innerHTML = "Select bounding box for: <strong>Drop</strong>";
        });

        canvas.addEventListener('mousedown', (e) => {
            isDrawing = true;
            [startX, startY] = [e.offsetX, e.offsetY];
        });

        canvas.addEventListener('mousemove', (e) => {
            if (isDrawing) {
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                endX = e.offsetX;
                endY = e.offsetY;
                context.beginPath();
                context.rect(startX, startY, endX - startX, endY - startY);
                context.strokeStyle = 'red';
                context.stroke();
            }
        });

        canvas.addEventListener('mouseup', () => {
            isDrawing = false;
            if (currentBox === "pickup") {
                pickupCoords = { startX: startX, startY: startY, endX: endX, endY: endY };
            } else {
                dropCoords = { startX: startX, startY: startY, endX: endX, endY: endY };
            }
        });

        saveButton.addEventListener('click', async function() {
            if (!pickupCoords.startX || !dropCoords.startX) {
                alert("Please draw both Pickup and Drop bounding boxes before saving.");
                return;
            }
            const data = {
                videos: [video.src],  
                pickup_coords: [[pickupCoords.startX, pickupCoords.startY], [pickupCoords.endX, pickupCoords.endY]],
                drop_coords: [[dropCoords.startX, dropCoords.startY], [dropCoords.endX, dropCoords.endY]]
            };
    
            try {
                const response = await fetch('/update_json/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                const jsonResponse = await response.json();
                if (response.ok) {
                    alert(jsonResponse.message);
                } else {
                    alert(`Error: ${jsonResponse.detail}`);
                }
            } catch (error) {
                console.error('There was an error with the fetch operation:', error);
            }
        });
        
    </script>
</body>

</html>
